<div id="deleteModal" class="modal-overlay">
    <div class="modal">
        <h2>Confirmar exclusão</h2>
        <p id="modalText">Tem certeza que deseja excluir?</p>

        <div class="modal-actions">
            <button type="button"
                    class="btn-secondary"
                    onclick="closeModal()">
                Cancelar
            </button>

            <form id="deleteForm" method="post">
                <button type="submit" class="btn-primary">
                    Excluir
                </button>
            </form>
        </div>
    </div>
</div>
