{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h1>Receitas</h1>
    <a href="{{ url_for('incomes.create_income') }}" class="btn-primary">
        + Nova Receita
    </a>
</div>

<div class="page-content">
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Conta</th>
                <th>Data</th>
            </tr>
        </thead>

        <tbody>
            {% for income in incomes %}
            <tr onclick="goToDetail(event, '{{ url_for('incomes.detail_income', id=income.id) }}')">
                <td>{{ income.description }}</td>
                <td>{{ income.category }}</td>
                <td>R$ {{ "%.2f"|format(income.amount) }}</td>
                <td>{{ income.account.name }}</td>
                <td>{{ income.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include "partials/delete_modal.html" %}

<script>
function goToDetail(event, url) {
    if (event.target.closest('.actions')) return;
    window.location.href = url;
}

function openDeleteModal(description, actionUrl) {
    document.getElementById("modalText").innerText =
        `Tem certeza que deseja excluir "${description}"?`;

    document.getElementById("deleteForm").action = actionUrl;
    document.getElementById("deleteModal").classList.add("active");
}

function closeModal() {
    document.getElementById("deleteModal").classList.remove("active");
}
</script>

{% endblock %}
